* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0e7b6;
}

.tit {
    text-align: center;
    background-color: white;
}

.wantList{
    display: inline-block;
    border: 1px dashed black;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
    background-color: white;
}

h5{
    text-align: center;
}

.all{
    border: 2px solid black;
    background-color: #ffffff1a;
    margin: 15px;
}

.No1, .No2, .No3 {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border: 1px dashed black;
}

.big {
    font-size: 20px;
}